<div class="pt-40 clearfix" *ngIf="menu && responseData">
    <div class="pt-30">
        <div class="row" *ngFor="let item of menu.view.fields">
            <div class="col-sm-12" *ngIf="item.name !== 'username'">
                <dl class="cls-dl-horizontal">
                    <dt for="{{item.name}}">{{item.label}} </dt>
                    <dd for="{{item.name}}" *ngIf="item.type !== 'file'">{{item.value}}</dd>
                    <app-attachment *ngIf="item.type === 'file'" [attachment]="responseData.attachment" [type]="original"></app-attachment>
                </dl>
            </div>
        </div>
        <div class="clearfix text-left pt-20">
            <button class="btn btn-secondary btn-lg clsMinWidth-200" (click)="back()" type="button">
                Back
            </button>
        </div>
    </div>
</div>