<!-- <nav
    class="sidebar"
    [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}"
>
    <div class="list-group" *ngIf="menus">
        <span *ngFor="let menu of menus">
            <a href="javascript:void(0)" *ngIf="!menu.child_sub_menu" (click)="redirect(menu.route)" class="list-group-item" >
                <i class="{{ menu.icon_class }}"></i>&nbsp;
                <span>{{ menu.title }}</span>
            </a>
            <div class="nested-menu" *ngIf="menu.child_sub_menu">
                <a class="list-group-item" (click)="addExpandClass(menu.title)">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>{{ menu.title }}</span>
                </a>
                <li class="nested" *ngFor="let child of menu.child_sub_menu" [class.expand]="showMenu === menu.title">
                    <ul class="submenu">
                        <li>
                            <a (click)="redirect(child.route)" href="javascript:void(0)">
                                <i class="{{ menu.icon_class }}"></i>&nbsp;
                                <span>{{ child.title }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </span>
        <div class="header-fields">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
        </div>
    </div>
    <div
        class="toggle-button"
        [ngClass]="{collapsed: collapsed}"
        (click)="toggleCollapsed()"
    >
        <i
            class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"
        ></i
        >&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
    <div class="clearfix">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="assets/images/Masam_Logo_white.svg" alt="logo">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="menus">
            <ul class="nav navbar-nav clsMenuList">
                <li *ngFor="let menu of menus" [ngClass]="{'dropdown': menu.child_sub_menu}">
                    <a class="clsIcon clsPage" href="javascript:void(0)"
                        (click)="redirect(menu.route, menu.child_sub_menu)"
                        [ngClass]="{'dropdown-toggle': menu.child_sub_menu}" role="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span> {{ menu.title }} </span>
                    </a>
                    <div *ngIf="menu.child_sub_menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="redirect(child.route)"
                            *ngFor="let child of menu.child_sub_menu"> {{ child.title }} </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>