
<div class="login-page signup-page">
    <div class="signupwhite">
        <div class="text-center toplogo">
            <img src="assets/images/login-logo.jpg" class="img-fluid" />
        </div>

        <form role="form">
            <div class="reset-password">
                <h2>Reset your password</h2>
                <p>
                    Please enter your new <br />
                    password below.
                </p>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control input-underline input-lg"
                        id=""
                        placeholder="{{ 'Enter New Password' | translate }}"
                    />
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control input-underline input-lg"
                        id=""
                        placeholder="{{ 'Confirm New Password' | translate }}"
                    />
                </div>
            </div>
            <div class="login-actions">
                <a class="btn rounded-btn register-btn text-uppercase">{{
                    'Save' | translate
                }}</a>
            </div>
        </form>
    </div>
</div>
