<div [@routerTransition]>
   <div class="container-fluid mt-30">
      <div class="row" *ngIf="restaurants && restaurants.length > 0">
         <div class="col-sm-12 col-md-12">
            Restaurants : <select style="width:250px; height:50px;">
                  <option *ngFor="let restaurant of restaurants" [value]="restaurant.id" [selected]="restaurant.id == restaurant_id">{{restaurant.title}}</option>
            </select>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4">
            Date
         </div>

         <div class="col-sm-4">
            <div class="inline-show v-mid">
               <input type="checkbox" id="holiday" [checked]="(schedule.type === 1)" (click)="updateSchedule(schedule)">
               <label for="holiday" class="mb-0"> Holiday
               </label>
            </div>
         </div>

         <div class="col-sm-4">
            <div class="inline-show v-mid">
               <label for="timeslot" class="mb-0"> TimeSlot
               </label>
            </div>
         </div>
      </div>
   </div>

   <div class="clearfix mb-20 pt-10">
      <table class="table"  *ngIf="(schedule | json) != '{}'">
         <tbody>
            <tr>
               <td>
                  <div class="form-group">
                     <div class="input-group">
                       <input class="form-control" (dateSelect)="customTimeSlotDetails()"  placeholder="yyyy-mm-dd"
                              name="dp" [(ngModel)]="customDate" ngbDatepicker #d="ngbDatepicker" style="width: 150px;" (click)="d.toggle()" >
                       <!-- <div class="input-group-append">
                         <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                       </div> -->
                     </div>
                   </div>
               </td>
               <td>
                  <div class="clsTimeSlot" *ngIf="schedule.type === 0">
                     <span *ngFor="let timeSlot of schedule.timeSlots">
                       <select style="width:50px" [(ngModel)]="timeSlot.slot"
                        [ngModelOptions]="{standalone: true}"
                        (change)="updatetimeSlot(timeSlot, $event)">
                        <option *ngFor="let discount of discounts" [value]="discount" [selected]="discount == timeSlot.slot">{{discount}}<span *ngIf="discount">%</span><span *ngIf="!discount">None</span></option>
                  </select><br>{{timeSlot.time}}
                     </span>
                  </div>
                  <div class="clsTimeSlot" *ngIf="schedule.type === 1">
                    Holiday
                 </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="clearfix text-right mb-20">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
   </div>
</div>