
.password-changed {
    max-width: 530px;
    h2 {
        font-weight: 300;
        font-size: 34px;
        color: #fff;
    }
    p {
        color: #828282;
    }
}

.signupwhite {
    height: calc(100vh - 30px);
}
.changebackBtn {
    position: relative;
    .fa-angle-left {
        color: #333;
        font-size: 16px;
    }
    a {
        position: absolute;
        left: 0;
        content: '';
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #fff;
        color: #c25582;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px !important;
        text-transform: uppercase;
        font-weight: 700;
        padding: 5px 20px;
        border-radius: 0;
        transition: all 0.4s linear 0s;
    }
}

