<div class="container-fluid" *ngIf="!changedSuccess">
    <div class="row pt-60">
        <div class="col-sm-4">
            <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control input-underline input-lg"
                        placeholder="{{ 'Password' | translate }}" />
                    <div class="invalid-feedback-show" *ngIf="
                        isSubmitted &&
                        changepasswordForm.get('password').value.length === 0
                    ">
                        {{ 'password is required' | translate }}
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" formControlName="new_password" class="form-control input-underline input-lg"
                        placeholder="{{ 'New Password' | translate }}" />
                    <div class="invalid-feedback-show" *ngIf="
                    isSubmitted &&
                    changepasswordForm.get('new_password').value.length ===
                        0
                ">
                        {{ 'New password is required' | translate }}
                    </div>
                    <div *ngIf="
                    isSubmitted &&
                    changepasswordForm.get('new_password').value.length !==
                        0 &&
                    changepasswordForm.get('new_password').value.length < 4
                " class="invalid-feedback-show">
                        {{ 'Password must be minimum 3 Characters' | translate }}
                    </div>
                </div>


                <div class="form-group">
                    <input type="password" formControlName="confirm_password"
                        class="form-control input-underline input-lg"
                        placeholder="{{ 'Confirm Password' | translate }}" />
                    <div class="invalid-feedback-show" *ngIf="
                        isSubmitted &&
                        changepasswordForm.get('confirm_password').value
                            .length === 0
                    ">
                        {{ 'Confirm password is required' | translate }}
                    </div>
                    <div *ngIf="
                        isSubmitted &&
                        changepasswordForm.get('confirm_password').value
                            .length !== 0 &&
                        changepasswordForm.get('confirm_password').value
                            .length < 4
                    " class="invalid-feedback-show">
                        {{
                        'Confirm Password must be minimum 3 Characters'
                        | translate
                        }}
                    </div>
                    <div *ngIf="
                        isSubmitted &&
                        changepasswordForm.get('confirm_password').value
                            .length >= 6 &&
                        changepasswordForm.get('new_password').value !==
                            changepasswordForm.get('confirm_password').value
                    " class="invalid-feedback-show">
                        {{
                        'Password and Confirm Password should match.'
                        | translate
                        }}
                    </div>
                </div>

                <div class="login-actions">
                    <button class="btn btn-secondary btn-lg clsWidth-100" type="submit">
                        {{ 'Change Password' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>