<!-- Banner Start -->
<section class="innerBanners">
    <div class="innerBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerBanners_box">
                    <h1>Contact Us</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><a href="javascript:void(0)">PAGES</a></li>
                        <li><p>CONTACT US</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Map Start -->
<section class="mapSec">    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Map Title</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509167.468728905!2d-123.79968160280652!3d37.192998066606236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C%20USA!5e0!3m2!1sen!2sin!4v1599928567252!5m2!1sen!2sin" width="100%" height="350" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- Map End -->
<!-- Form Start -->
<section class="contForm">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Contact Form</h2>
                <form class="contact-form row" method="post" action="./">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" value="" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <input type="text" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <input type="text" value="" name="phone" id="phone" class="form-control" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="email" value="" name="email" id="email" class="form-control" placeholder="Email address">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            <textarea aria-required="true" rows="9" cols="45" name="message" id="message" class="form-control" placeholder="Message..."></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="contact-form-submit topmargin_10">
                            <button type="submit" id="contact_form_submit" name="contactSubmit" class="contactSubmit">Submit</button>
                            <button type="reset" id="contact_form_reset" name="contactReset" class="contactReset">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="contAddress">
                    <h2>Contact Info</h2>
                    <p><i class="fa fa-globe"></i> Jacksotts str. 698 San Diego, California, USA</p>
                    <p><i class="fa fa-phone"></i> 1-800-123-4567, 1-800-123-4568</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:ima@support.com">ima@support.com</a></p>
                    <p><i class="fa fa-clock-o"></i> onday - Friday 9 a.m. - 8 p.m.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Form End -->