<style type="text/css">
    .accounttabs ul.nav-tabs li {
        border-radius: 0px;
    }
</style>
<!-- Banner Start -->
<section class="innerBanners">
    <div class="innerBanners_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerBanners_box">
                    <h1>Transaction</h1>
                    <ul>
                        <li><a href="javascript:void(0)">HOME</a></li>
                        <li><p>TRANSACTION</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<div class="imacontainer">
    <div class="content-middle accounthistory-section">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-row pb-3">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">Search</label>
                    <input type="text" class="form-control" id="validationCustom01" formControlName='q'
                        placeholder="Enter text here">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom02">From</label>
                    <div class="input-group datepicker-input">
                        <input class="form-control" formControlName='from' placeholder="yyyy-mm-dd" name="from" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustomUsername">To</label>
                    <div class="input-group datepicker-input">
                        <input class="form-control" placeholder="yyyy-mm-dd" formControlName='to' name="to"
                            ngbDatepicker #d1="ngbDatepicker">
                        <button class="input-group-addon" (click)="d1.toggle()" type="button">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <button class="primaryBtn mt-4" type="submit">Submit</button>
                </div>
            </div>
        </form>
        <div class="accounttabs">
            <app-my-tabs (tabSelected)="tabSelected($event)">
                <app-my-tab [tabTitle]="'Product Transaction'" [tabClass]="'Product'">
                    <div class="tabcontents">
                        <div *ngIf="productTransactionData && productTransactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of productTransactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment
                                            *ngIf="transaction.detail && transaction.detail.attachment"
                                            [attachment]="transaction.detail.attachment" [type]="original">
                                        </app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>{{transaction.detail.product_detail.name}} <span>for [{{transaction.parent_user.first_name}} {{transaction.parent_user.last_name}}]</span></h2>
                                        <p class="accountamount" *ngIf="transaction.detail.size">[
                                            {{ transaction.detail.size.size.name }}]</p>
                                        <p class="accountamount"><span [ngStyle]="{'background-color': transaction.detail.color.color}" class="availcolorsselect ml-2"></span></p>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name -
                                            {{transaction.detail.product_detail.name}}</p>
                                        <p>{{transaction.payment_gateway.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="productTransactionData && productTransactionData.length === 0">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Vote Package Transaction" tabClass="VotePackage">
                    <div class="tabcontents">
                        <div *ngIf="votePackageTransactionData && votePackageTransactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of votePackageTransactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment *ngIf="transaction.parent_user_id === 0" [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                        <app-attachment *ngIf="transaction.parent_user_id !== 0" [attachment]="transaction.parent_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span *ngIf="transaction.parent_user_id === 0">for [{{transaction.other_user.first_name}} {{transaction.other_user.last_name}}]</span><span *ngIf="transaction.parent_user_id !== 0">for [{{transaction.parent_user.first_name}} {{transaction.parent_user.last_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                        <p>Package Name -{{transaction.package.description}}</p>
                                        <p>Payment Gateway -{{transaction.payment_gateway.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="votePackageTransactionData && votePackageTransactionData.length === 0">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Instant Vote Package Transaction" tabClass="InstantPackage">
                    <div class="tabcontents">
                        <div *ngIf="instantTransactionData && instantTransactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of instantTransactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment *ngIf="transaction.parent_user_id === 0" [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                        <app-attachment *ngIf="transaction.parent_user_id !== 0" [attachment]="transaction.parent_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span *ngIf="transaction.parent_user_id === 0">for [{{transaction.other_user.first_name}} {{transaction.other_user.last_name}}]</span><span *ngIf="transaction.parent_user_id !== 0">for [{{transaction.parent_user.first_name}} {{transaction.parent_user.last_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name - {{transaction.package.name}}</p>
                                        <p>Package Name -{{transaction.package.description}}</p>
                                        <p>Payment Gateway -{{transaction.payment_gateway.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="instantTransactionData && instantTransactionData.length === 0">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Subscription Transaction" tabClass="SubscriptionPackage">
                    <div class="tabcontents">
                        <div *ngIf="subscriptionTransactionData && subscriptionTransactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of subscriptionTransactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <h2>VOTE PACKAGE <span>for [{{transaction.other_user.first_name}}]</span></h2>
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">Package Name -
                                            {{transaction.subscription.description}}</p>
                                        <p>{{transaction.payment_gateway.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="subscriptionTransactionData && subscriptionTransactionData.length === 0">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
                <app-my-tab tabTitle="Fund Transaction" tabClass="Fund">
                    <div class="tabcontents">
                        <div *ngIf="fundTransactionData && fundTransactionData.length">
                            <ul class="list-unstyled">
                                <li class="row accountlisting" *ngFor="let transaction of fundTransactionData">
                                    <div class="col-md-1 acuserimage text-center p-0">
                                        <app-attachment [attachment]="transaction.other_user.attachment"
                                            [type]="original"></app-attachment>
                                    </div>
                                    <div class="col-md-6 acvotepackage">
                                        <p class="accountamount">[
                                            {{ transaction.amount | currency: transaction.CURRENCY_CODE:'symbol' }}]</p>
                                        <p class="packagename m-0">IMA - {{transaction.payment_gateway.name}}</p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end flex-column text-center acvotedate">
                                        <p class="accountdate m-0">{{transaction.created_at | date: 'short'}}</p>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="" *ngIf="fundTransactionData && fundTransactionData.length === 0">
                            Sorry no records found
                        </div>
                    </div>
                </app-my-tab>
            </app-my-tabs>

        </div>
    </div>
</div>
