<div class="login-page" [@routerTransition]>
    <div class="imacontainer d-none">
        <div class="d-flex">
            <div class="login-left d-flex align-items-center">
                <div class="logininner">
                    <!-- <div class="text-center toplogo">
                        <a href="javascript:void(0)" [routerLink]="['/']">
                            <img
                                src="assets/images/login-logo.png"
                                class="img-fluid"
                            />
                        </a>
                    </div> -->
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-content">
                            <div class="form-group">
                                <input formControlName="username" type="text" ng-model="name" class="form-control inputUnderline input-lg" required (keydown)="onKeydown($event)" placeholder="Username" />
                                <div *ngIf="
                                        submitted &&
                                        loginForm.get('username').value
                                            .length === 0
                                    " class="invalid-feedback-show">
                                    {{ 'Username is required' | translate }}
                                </div>
                                <div *ngIf="
                                        submitted &&
                                        loginForm.get('username').value
                                            .length !== 0 &&
                                        loginForm.get('username').value.length <
                                            3
                                    " class="invalid-feedback-show">
                                    Password must be minimum 3 Characters
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <input formControlName="password" type="password" required class="form-control inputUnderline input-lg" (keydown)="onKeydown($event)" placeholder="Password" />
                                <div *ngIf="
                                        submitted &&
                                        loginForm.get('password').value
                                            .length === 0
                                    " class="invalid-feedback-show">
                                    {{ 'Password is required' | translate }}
                                </div>
                                <div *ngIf="
                                        submitted &&
                                        loginForm.get('password').value
                                            .length !== 0 &&
                                        loginForm.get('password').value.length <
                                            4
                                    " class="invalid-feedback-show">
                                    Password must be 3 minimum Characters
                                </div>
                            </div>
                            <p class="forgotpass text-right">
                                <a class="text-decoration-none" [routerLink]="['/forgot-password']">Forgot Password</a>
                            </p>
                        </div>
                        <div class="pt-3 login-actions d-flex justify-content-between">
                            <a class="btn primaryBtn" (keydown)="onKeydown($event)" (click)="onSubmit()">{{ 'Log in' |
                                translate }}</a>
                            <!-- <a
                                class="secondryBtn"
                                [routerLink]="['/signup']"
                                >{{ 'Register' | translate }}</a
                            > -->
                        </div>
                    </form>
                    <!-- <div class="thirdlogin pt-3">
                        <p class="thirdtext">
                            Sign in with : 
                        
                        <a
                            href="javascript:void(0)"
                            (click)="signInWithFB()"
                            class="facebook rounded-btn text-center mb-3"
                            ><i class="fa fa-facebook" aria-hidden="true"></i
                            ></a
                        >
                        <a
                            href="javascript:void(0)"
                            (click)="signInWithGoogle()"
                            class="google rounded-btn text-center"
                            ><i class="fa fa-google" aria-hidden="true"></i></a
                        >
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="clsAdminPage">
        <div class="clearfix">
            <div class="clsLeftSide">
                <div class="clsImgBlock">
                    <img src="assets/images/Masam_Logo_white.svg" alt="Logo">
                </div>

                <div class="clsPowered">
                    <!-- <p class="whitec pb-10"> Powered by </p>
                    <img src="assets/images/login/powered.svg" alt="B-ID"> -->
                </div>
            </div>

            <div class="clsRightSide">
                <div class="clsFormBlock clsBeforeLogin">
                    <div class="clearfix text-center mb-30">
                        <div class="">
                            <img class="clsWidth-150 clsMob-hide" src="assets/images/Masam_Logo.svg" alt="Logo">
                            <img class="clsMob-show" src="assets/images/Masam_Logo_white.svg" alt="Logo">
                        </div>

                        <h2 class="db-c text-left"> Login </h2>
                    </div>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group pb-10">
                            <label for="user_id"> User Id </label>
                            <input formControlName="username" type="text" ng-model="name" class="form-control" required (keydown)="onKeydown($event)" placeholder="Username" />
                            <div *ngIf="
                                        submitted &&
                                        loginForm.get('username').value
                                            .length === 0
                                    " class="invalid-feedback-show">
                                {{ 'Username is required' | translate }}
                            </div>
                            <div *ngIf="
                                        submitted &&
                                        loginForm.get('username').value
                                            .length !== 0 &&
                                        loginForm.get('username').value.length <
                                            3
                                    " class="invalid-feedback-show">
                                Password must be minimum 3 Characters
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password"> Password </label>
                            <input formControlName="password" type="password" required class="form-control" (keydown)="onKeydown($event)" placeholder="Password" />
                            <div *ngIf="
                                        submitted &&
                                        loginForm.get('password').value
                                            .length === 0
                                    " class="invalid-feedback-show">
                                {{ 'Password is required' | translate }}
                            </div>
                            <div *ngIf="
                                        submitted &&
                                        loginForm.get('password').value
                                            .length !== 0 &&
                                        loginForm.get('password').value.length <
                                            4
                                    " class="invalid-feedback-show">
                                Password must be 3 minimum Characters
                            </div>
                        </div>

                        <!-- <a [routerLink]="['/forgot-password']" class="btn btn-link width_in pt-0 pb-c text-right">
                            Forgot Pasword
                        </a> -->

                        <button type="button" class="btn btn-success clsWidth-100 btn-lg mt-20" (keydown)="onKeydown($event)" (click)="onSubmit()"> {{ 'Login' | translate }} </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>