.primaryBtn {
    background-color: #c25582;
    border          : 1px solid #c25582;
    color           : #fff !important;
    margin-right    : 5px;
    margin-left     : 3px;
    margin-top      : 0px;
    margin-bottom   : 10px;
    font-size       : 12px !important;
    text-transform  : uppercase;
    padding         : 7px 20px;
    transition      : all 0.4s linear 0s;
    text-align      : center;
    border-radius   : 0;

    &:focus {
        background-color: #c25582;
        border          : 1px solid #c25582;
        color           : #fff !important;
        margin-right    : 5px;
        margin-left     : 3px;
        margin-top      : 0px;
        margin-bottom   : 10px;
        font-size       : 12px !important;
        text-transform  : uppercase;
        padding         : 7px 20px;
        transition      : all 0.4s linear 0s;
        text-align      : center;
        border-radius   : 0;
    }

    &:hover {
        background-color: #c25582;
        border          : 1px solid #c25582;
        color           : #fff;
        opacity         : .8;
    }
}

.secondryBtn {
    background-color: transparent;
    border          : 1px solid #fff;
    color           : #fff;
    margin-right    : 3px;
    margin-left     : 5px;
    margin-top      : 0px;
    margin-bottom   : 10px;
    font-size       : 12px !important;
    text-transform  : uppercase;
    padding         : 7px 20px;
    transition      : all 0.4s linear 0s;
    text-align      : center;
    text-transform  : uppercase;
    border-radius   : 0;

    &:hover {
        background-color: #c25582;
        border          : 1px solid #c25582;
        color           : #fff;
    }
}

$topnav-background-color: #222;

// .login-page {
//     font-family: 'Open Sans', sans-serif;
//     font-size  : 20px;
//     background : #1a1a1a;
//     color      : #fff;

//     .login-left {
//         flex            : 1 1 0;
//         width           : 50%;
//         padding         : 50px 0;
//         background-color: #1a1a1a;
//         color           : #808080;
//     }

//     .limageright {
//         width     : 58%;
//         text-align: right;

//         img {
//             height    : 100vh;
//             object-fit: cover;
//             width     : 100%;
//         }
//     }

//     .logininner {
//         max-width: 510px;
//         width    : 100%;
//         margin   : 0 auto;
//         padding  : 0 15px;

//         .invalid-feedback-show {
//             color    : #f00;
//             font-size: 14px;
//             margin   : 1px 0 0;
//         }
//     }

//     label {
//         color: #acacac;
//     }

//     .col-lg-4 {
//         padding: 0;
//     }

//     .input-lg {
//         height       : 46px;
//         padding      : 10px 0;
//         font-size    : 15px;
//         line-height  : 1.3333333;
//         border-radius: 0;
//     }

//     .input-underline {
//         background   : 0 0;
//         border       : none;
//         box-shadow   : none;
//         color        : #acacac;
//         border-radius: 0;
//     }

//     .input-underline:focus {
//         box-shadow: none;
//     }

//     .rounded-btn {
//         -webkit-border-radius: 50px;
//         border-radius        : 0.3rem;
//         color                : #acacac;
//         background           : transparent;
//         border               : 2px solid #acacac;
//         font-size            : 18px;
//         line-height          : 40px;
//         padding              : 12px 5px 10px 5px;
//     }

//     .rounded-btn:hover,
//     .rounded-btn:focus,
//     .rounded-btn:active,
//     .rounded-btn:visited {
//         outline: none;
//     }

//     .forgotpass {
//         a {
//             color      : #acacac;
//             font-weight: 400;
//             font-size  : 13px;
//         }
//     }

//     .login-actions {
//         a {
//             width: 47%;
//         }
//     }

//     .loginbtn {
//         background: #3ea6fa;
//         border    : 2px solid #3ea6fa;
//         color     : #fff;
//     }

//     .form-group {
//         padding: 5px 0;
//     }

//     .form-content {
//         padding: 40px 0 10px;
//     }

//     .user-avatar {
//         -webkit-border-radius: 50%;
//         border-radius        : 50%;
//         border               : 2px solid #fff;
//     }
// }

// .thirdlogin {
//     margin: 85px 0 0;

//     .thirdtext {
//         color    : #000;
//         font-size: 17px;
//     }

//     a {
//         width          : 100% !important;
//         padding        : 9px 6px 6px 5px !important;
//         border         : none !important;
//         text-decoration: none;
//         margin         : 0 5px;
//         border-radius  : 0 !important;

//         span {
//             font-weight: 600;
//             margin     : 0 0 0 6px;
//         }

//         i {
//             margin   : 0 15px;
//             font-size: 28px;
//         }
//     }

//     .facebook {
//         color     : #fff;
//         background: #3b5998;
//     }

//     .google {
//         color     : #fff;
//         background: #dd4b39;
//     }
// }

@media (max-width: 1440px) {
    .login-page {
        font-size: 15px;

        .toplogo {
            img {
                max-width: 90px;
            }
        }

        .logininner {
            width: 380px;
        }

        .limageright {
            img {
                object-position: 83% 100%;
                height         : 100vh;
            }
        }

        .input-lg {
            height: 42px;
        }

        .login-actions {
            a {
                font-size  : 16px;
                line-height: 27px;
            }
        }

        .rounded-btn {
            font-size  : 15px;
            line-height: 23px;
        }
    }

    .thirdlogin {
        margin: 10px 0 0;

        .thirdtext {
            font-size     : 14px;
            margin        : 0 0 8px;
            padding-bottom: 5px;
            color         : #ddd;
        }

        a {
            i {
                font-size: 20px;
            }
        }
    }

    .forgotpass {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .login-page {
        // display    : flex;
        // align-items: center;
        // height     : 100vh;

        .logininner {
            margin: 20px auto 15px;
        }

        .limageright {
            display: none;
        }

        .toplogo {
            img {
                max-width: 100px;
            }
        }

        .form-group {
            padding: 4px 0;
        }

        .form-content {
            padding: 10px 0 10px;
        }
    }

    .thirdlogin {
        margin: 10px 0 0;
    }
}

.signup-page {
    background: #1a1a1a !important;
}