<div class="pt-40 clearfix" *ngIf="menu">
    <div class="pt-30">
        <div *ngIf="responseData">
            <div class="row" *ngFor="let item of menuEditFields">
                <div [ngClass]="{'col-sm-12 col-lg-12': (item.type === 'smart_editor' || item.type === 'googlemap' || item.type === 'textarea'), 'col-sm-6 col-lg-4': !(item.type === 'smart_editor' || item.type === 'googlemap' || item.type === 'textarea')}">
                    <div class="form-group" *ngIf="(item.type === 'text' || item.isNotEdit) && item.name !== 'username'">
                        <label for="{{item.name}}">{{item.label}} <span *ngIf="item.is_required">*</span></label>
                        <label for="{{item.name}}" *ngIf="item.isNotEdit" class="form-control">{{item.value}}</label>
                        <input type="text" [(ngModel)]="item.value" *ngIf="!item.isNotEdit" [readonly]="item.readonly" [ngModelOptions]="{standalone: true}" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}">
                    </div>
                    <div class="form-group" *ngIf="item.type === 'googlemap'">
                        <label>{{item.label}} *:</label> {{item.value ? item.value : 'Loading'}}
                        <div id="mapCanvas"></div>
                    </div>
                    <div class="form-group" *ngIf="item.type === 'select'">
                        <label for="{{item.name}}">{{item.label}} <span *ngIf="item.is_required">*</span></label>
                        <select [readonly]="item.readonly" class="form-control" [(ngModel)]="item.value" id="{{item.name}}">
                            <option *ngFor="let option of item.options;"
                                [selected]="(option === item.value || option.name === item.value)">
                                {{option.name ? option.name : option}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="item.type === 'smart_editor'">
                        <label for="{{item.name}}">{{item.label}} <span *ngIf="item.is_required">*</span></label>
                        <angular-editor [(ngModel)]="item.value" class="smart-editor" [placeholder]="'Enter text here...'" [spellcheck]="true"></angular-editor>
                    </div>
                    <div class="form-group" *ngIf="item.type === 'textarea'">
                        <label for="{{item.name}}">{{item.label}} <span *ngIf="item.is_required">*</span></label>
                        <textarea class="form-control" [readonly]="item.readonly" [(ngModel)]="item.value" id="{{item.name}}" rows="3"></textarea>
                    </div>
                    <div class="form-group" *ngIf="item.type === 'file'">
                        <label for="{{item.name}}">{{item.label}} <span *ngIf="item.is_required">*</span></label>
                        <input type="file" (change)="uploadImage($event, item)" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" class="form-control-file" id="{{item.name}}">
                        <div class="contprofileimage" *ngIf="!item.isUploaded">
                            <app-attachment [attachment]="responseData.attachment" [type]="original"></app-attachment>
                        </div>
                    </div>
                    <div class="form-check form-check-inline" *ngIf="item.type === 'checkbox'">
                        <input class="form-check-input" type="checkbox" id="{{item.name}}" [(ngModel)]="item.value" [checked]="item.value === 1">
                        <label for="{{item.name}}">{{item.label}}</label>
                    </div>
                    <div class="form-group" *ngIf="item.type === 'radio'">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{item.name}}1" value="option1">
                            <label class="form-check-label" for="{{item.name}}1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{item.name}}2" value="option2">
                            <label class="form-check-label" for="{{item.name}}2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="{{item.name}}3" value="option3" disabled>
                            <label class="form-check-label" for="{{item.name}}3">3 (disabled)</label>
                        </div>
                    </div>
                    <div class="form-check" *ngIf="item.type === 'date'">
                        <input class="form-control" placeholder="yyyy-mm-dd" formControlName='to' name="to" ngbDatepicker #d1="ngbDatepicker">
                        <button class="input-group-addon" (click)="d1.toggle()" type="button">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </div>
                    <div class="form-group" *ngIf="item.type === 'tags'">
                        <label for="{{item.name}}">{{item.label}} <span *ngIf="item.is_required">*</span></label>
                        <ngx-tags-input class="form-control input-lg" [(ngModel)]="item.value" [options]="item.options" displayField="name" [removeLastOnBackspace]="true" (onTagsChanged)="onTagsChangedEventHandler($event, item)"></ngx-tags-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix text-left pt-20">
            <button class="btn btn-secondary btn-lg clsMinWidth-200" (click)="submit()" type="button">
                submit
            </button>
            <button class="btn btn-white btn-lg clsMinWidth-200" (click)="cancel()" type="button">
                cancel
            </button>
        </div>
    </div>
</div>