.crud-action {
	width       : 100px;
	margin-right: 10px;

	i {
		width: 20px;
	}
}

.crud-approval-action {
	margin-right: 10px;

	i {
		width: 20px;
	}
}

.hint-text {
	float     : left;
	margin-top: 10px;
	font-size : 13px;
}

.custom-checkbox {
	position: relative;

	input[type="checkbox"] {
		opacity : 0;
		position: absolute;
		margin  : 5px 0 0 3px;
		z-index : 9;

		&:checked {
			+ {
				label {
					&:after {
						content     : '';
						position    : absolute;
						left        : 6px;
						top         : 3px;
						width       : 6px;
						height      : 11px;
						border      : solid #000;
						border-width: 0 3px 3px 0;
						transform   : inherit;
						z-index     : 3;
						transform   : rotateZ(45deg);
						border-color: #fff;
					}

					&:before {
						border-color: #03A9F4;
						background  : #03A9F4;
					}
				}
			}
		}

		&:disabled {
			+ {
				label {
					&:before {
						color     : #b8b8b8;
						cursor    : auto;
						box-shadow: none;
						background: #ddd;
					}
				}
			}
		}
	}

	label {
		&:before {
			width         : 18px;
			height        : 18px;
			content       : '';
			margin-right  : 10px;
			display       : inline-block;
			vertical-align: text-top;
			background    : white;
			border        : 1px solid #bbb;
			border-radius : 2px;
			box-sizing    : border-box;
			z-index       : 2;
		}
	}
}

.contprofileimage {
	max-width    : 550px;
	width        : 100%;
	border-radius: 50%;
}
#mapCanvas {
    width: 500px;
    height: 400px;
    float: left;
}
#infoPanel {
    float: left;
    margin-left: 10px;
}
#infoPanel div {
    margin-bottom: 5px;
}